.row
  .large-12.columns
    h1 Welcome
  
    h2 Choose a username
    .row
      .small-8.columns
        input#username(type='text', placeholder='type a username')
      .small-3.columns
        a.create-user.button.expand connect
