h1.center
  = username
  |'s content
  ul.pricing-table
    li.title Boat
    |   
    li.price
      | 0.5  
      img(src='/btc.svg', width='25')
      | itcoin
    |  
    li.bullet-item
      img(src='/boat.jpg', width='800')
    |   
    li.description I am selling an awesome boat Dude!
    |   
    li.bullet-item 1 Boat
    |   
    li.bullet-item 2 Oars
    |   
    li.bullet-item 20 People capacity
