.row
  .large-12.columns
    span
      |connection with 
      = peer.username 
      |&nbsp;is 
      =(peer.open ? "open" : "closed")
      if peer.open
        a.disconnect.button disconnect
        a.content.button content
      else
        a.connect.button connect
  .row
    .large-12.columns
      !=peer.get('content')
