.row
  .small-3.columns
    h2= peer.username
  .small-3.columns
    p connection is #{(peer.open ? "open" : "closed")}
  .small-3.columns
    if peer.open
      a.disconnect.button.expand disconnect
    else
      a.connect.button.expand connect
  .small-3.columns
    if peer.open
      a.get-content.button.expand content


  .row
    .large-12.columns
      a.show-content.button.expand show #{peer.username}'s content
      .content
        a.hide-content.button.tiny &times;
        !=peer.get('content')
