.large-6.columns
  h1 Hello #{user.username}!
  h2 you are in #{user.group} group :)
  .row
    .large-12.columns
      .panel.callout.radius
        .row
          .medium-8.columns
            h3.center server connection is
            h3.center=(user.get('open') ? "open" : "closed")
          .medium-4.columns
            a.discover.button discover peers
  .user-content
    
