.large-6.columns
  h1= user.username
  .row
    .large-12.columns
      .panel.callout.radius
        .row
          .small-8.columns
            h3.center server connection is
            h3.center=(user.get('open') ? "open" : "closed")
          .small-4.columns
            a.discover.button discover peers
  .insert-content-here
