extends ./layout.jade
block title
  title!= title

block content
  .row
    .large-12.columns
      h1 Node.js P2P app
  .row
    .large-12.columns
      .panel
        h3 This is a Node.js p2p app
        ul
          li
            a(href = "http://foundation.zurb.com/docs") Foundation Documentation
          li
            a(href = "http://js2.coffee") js2coffee
          li
            a(href = "http://jade-lang.com") Jade template language
          li
            a(href = "http://html2jade.aaron-powell.com") HTML to Jade converter
          li
            a(href = "http://www.w3.org/TR/webrtc/#peer-to-peer-data-api") WebRTC - Peer-to-peer Data API
          li
            a(href = "http://peerjs.com/docs/") peerjs documentation
          li
            a(href = "https://github.com/peers/peerjs-server") peerjs server on github
          li
            a(href = "https://github.com/peers/peerjs") peerjs on github
  .row
    .large-12.columns
      #browser-alert.alert-box.alert.radius("data-alert" = "#")
        #browser-message
          | Your Browser is not supported.
          | Check 
          a(href="http://iswebrtcreadyyet.com/") iswebrtcreadyyet.com
        a.close(href="") &times;
  
  .row
    .small-9.columns
      input.server(type="text", placeholder="signalling server (#{signalling_server})")
    .small-3.columns
  .row
    .small-9.columns
      input.username(type="text", placeholder="username (left blank for random)")
    .small-3.columns
      .button.expand.small.username connect
  .row
    .small-9.columns
      input.connect(type="text", placeholder="connect to other user")
    .small-3.columns
      .button.expand.small.connect connect
  .row
    .small-9.columns
      input.send(type="text", placeholder="say something")
    .small-3.columns
      .button.expand.small.send send
  .row
    .large-12.columns
      pre.debug
