doctype html
html(lang="en")
  head
    block title
      title default title
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    != js("application")
    != css("application")
    link(rel='shortcut icon', href='favicon.ico', type='image/png') 

      
  
  body
    block content
