upstream webrtc {
  server 127.0.0.1:3000;
  keepalive 8;
}

upstream signalling {
  server 127.0.0.1:8000;
  keepalive 8;
}

server {
  listen 80;
  listen [::]:80;
  server_name webrtc.home;
  root /home/panos/webrtc/public;
  try_files $uri @webrtc;
  
  keepalive_timeout 8;
  
  location ~ ^/assets/ {              #production
    expires     max;                  #production
    gzip_static on;                   #production
    add_header  Cache-Control public; #production
    add_header  ETag "";              #production
    break;                            #production
  }                                   #production
  
  location @webrtc  {
    proxy_pass         http://webrtc ;
    proxy_redirect     off;
    proxy_set_header   Host $http_host;
    proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
  }
  
  error_page 500 502 503 504 /500.html;
}

server {
  listen 9000;
  server_name signalling.home;
  root /home/panos/webrtc/public;
  try_files $uri @signalling;
  
  keepalive_timeout 8;
  
  location @signalling  {
    proxy_pass         http://signalling ;
    proxy_redirect     off;
    proxy_buffering    off;

    proxy_set_header   Host $host:$proxy_port;
    proxy_set_header   X-Real-IP $remote_addr;
    proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header   X-NginX-Proxy true;
    proxy_http_version 1.1;
    proxy_set_header   Upgrade $http_upgrade;
    proxy_set_header   Connection "upgrade";
  }
  
  error_page 500 502 503 504 /500.html;
}
